{% extends 'base.html' %}

{% block content %}
<main>
    <h1>Your shopping list</h1>
    <div>
        <form method="post" action="{% url 'shopping_item_delete' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button">Delete All</button>
        </form>
    </div>
    <ul>
        {% for item in shopping_list %}
        <li>{{ item.food_item }}</li>
        {% endfor %}
    </ul>

</main>
{% endblock content %}