{% extends 'paginate.html' %}

{% block content %}
<main>
    {% for user in user_list %}
    <h1 class="blue-text-cool">{{ user.username }}'s Recipes:</h1>
    {% for recipe in user.recipes.all %}
    <p>{{ recipe.name }}</p>
    {% endfor %}
    {% endfor %}
</main>
{% endblock content %}