{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
<main class="recipe-detail">
    <div>
        <a href="{% url 'meal_plan_edit' mealplan.id %}">Edit</a>
        <a href="{% url 'meal_plan_delete' mealplan.id %}">Delete</a>
    </div>
    <h1>{{ mealplan.name }}</h1>
    <h2>Serve Date: {{ mealplan.date }}</h2>
    <h3>Recipes:</h3>
    {% for recipe in mealplan.recipes.all %}
    <p><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.name }}</a></p>
    {% endfor %}
</main>

{% endblock content %}